html, body 
    display: flex
    height: 100%
    position: relative
    flex-direction: column

.wrapper
    min-height: 100%
    position: relative

.body
    display: flex
    flex-grow: 1
    position: relative
    flex-direction: column
    padding: 15px 0

.container
    margin: 0 auto
    max-width: 1600px
    position: relative
    width: 100%
    box-sizing: border-box
    
.pagination-wrapper
    padding: 0 15px